.react-tabs__tab {
    padding: 12px 24px !important;
    border: none !important;
    border-bottom: 1px solid #E5E7EB !important;
}

.react-tabs__tab--selected {
    border-bottom: 1px solid #E5E7EB !important;
}